<% if  @term.length != 0 %>
    <span term="<%= @term %>">
        <%= I18n.t('L_MATCHING_PAGES_PRE')%> '<%= @term %>' <%= I18n.t('L_MATCHING_PAGES_SUF')%>:
    </span>
    <%= content %>

    <% if @legacy_ocr_search_results %>
        <% @legacy_ocr_search_results.each do |legacy_ocr_search_result| %>
            <a href="/catalog/<%= @documentId %>?pageNum=<%= legacy_ocr_search_result %>&q=<%= @term %>"><%= legacy_ocr_search_result %></a><% if legacy_ocr_search_result != @legacy_ocr_search_results.last %>, <% end %>
        <% end %>
    <% end %>
<% end %>